{% extends "base.html" %}
{% block title %}
    All Employees
{% endblock %}

{% block content %}

<!--
  <ul class="list-group">
    {% for record in list %}
    <li class="list-group-item">
        <a href="#"> {{ record[0], record[1], record[2], record[3] }} </a>
    </li>
    {% endfor %}
  </ul>
  -->
<div class="container">
    <table class="table table-hover">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col"><input class="form-check-input" type="checkbox" id="main-checkbox" style="margin:0px;position:relative"></th>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>

            {% for record in all_employees %}
            <tr>
                <th><input class="form-check-input" type="checkbox" style="margin:0px" name="checkbox" value="{{ record.id }}"></th>
                <td><a href="employee/{{ record.id }}" style="color: black">{{ record.id }}</a></td>
                <td><a href="employee/{{ record.id }}">{{ record.firstname }}</a></td>
                <td><a href="employee/{{ record.id }}">{{ record.lastname }}</a></td>
                <td>{{ record.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-danger" id="del-button">Delete</button>

</div>

{% endblock %}
