{% extends "base.html" %}

{% block title %}
    Employee details
{% endblock %}

{% block content %}

{% for record in list %}
<div class="container">
  <form method="post" action="{{ url_for('update') }}">
    <div class="form-group row">
      <label for="id" class="col-md-2 col-form-label">Employee ID:</label>
      <div class="col-md-10">
        <input type="text" readonly class="form-control-plaintext" name="id" id="id" value="{{ record.id }}">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="gender">
          {% if record.gender == 'Male' %}
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Male" checked='checked'>
          {% else %}
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Male">
          {% endif %}
          Male
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="gender">
          {% if record.gender == 'Female' %}
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Female" checked='checked'>
          {% else %}
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Female">
          {% endif %}
        Female
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" value='{{ record.firstname }}'>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" value='{{ record.lastname }}'>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" id="address" value='{{ record.address }}'>
    </div>
    <div class="form-group">
      <label for="address2">Address 2</label>
      <input type="text" class="form-control" name="address2" id="address2" value='{{ record.address2 }}'>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city" value='{{ record.city }}'>
      </div>
      <div class="form-group col-md-3">
        <label for="province">Province</label>
        <select name="province" id="province" class="form-control" value="{{ record.province }}">
          <option value="1" {% if record.province == '1' %} selected {% endif %}>East Midlands</option>
          <option value="2" {% if record.province == '2' %} selected {% endif %}>East of England</option>
          <option value="3" {% if record.province == '3' %} selected {% endif %}>North East</option>
          <option value="4" {% if record.province == '4' %} selected {% endif %}>North West</option>
          <option value="5" {% if record.province == '5' %} selected {% endif %}>South East</option>
          <option value="6" {% if record.province == '6' %} selected {% endif %}>South West</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="postcode">Post Code</label>
        <input type="text" class="form-control" name="postcode" id="postcode" value='{{ record.postcode }}'>
      </div>
      <div class="form-group col-md-3">
        <label for="phone">Phone No.</label>
        <input type="number" class="form-control" name="phone" id="phone" value='{{ record.phone }}'>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success form-control">Update</button>
    </div>
  </form>
</div>


{% endfor %}
{% endblock %}
